body,
p,
ul,
li,
h3,
input,
textarea,
select,
option,
span,
a,
h1,
h2,
h3,
h4,
h5,
h6,
div {
  margin: 0;
  padding: 0;
}

body,
html {
  width: 100%;
  height: 100%;
  font-weight: normal;
  position: relative;
}
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  outline: none;
  /* font-size: 14px; */
}
img {
  border: none;
}
.fl {
  float: left !important;
}

.fr {
  float: right !important;
}
.clearfix::after {
  content: '.';
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}
.clearfix {
  zoom: 1;
}
.clearFix::after {
  content: '.';
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}
.clearFix {
  zoom: 1;
}
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  border: 0;
  font-style: normal;
  font-weight: normal;
}
output,
input,
button,
textarea {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  font: 12px 'Microsoft YaHei';
  font-style: normal;
}

a,
cite,
del,
dfn,
em,
img,
ins,
q,
s,
small,
strong,
b,
u,
i,
form,
label,
time,
mark {
  margin: 0;
  padding: 0;
  font-style: normal;
}
a {
  text-decoration: none;
  cursor: pointer;
}
select {
  outline: none;
  /*将默认的select选择框样式清除*/
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
}
select::-ms-expand {
  display: none;
}
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  border-collapse: collapse;
  border-spacing: 0;
  text-align: center;
}

/*去除ie10,11中input[type="text"]后面的X图标*/
input[type='text']::-ms-clear {
  display: none;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.rel {
  position: relative;
}

.abs {
  position: absolute;
}

.fixed {
  position: fixed;
}

.text-l {
  text-align: left;
}

.text-r {
  text-align: right;
}

.text-c {
  text-align: center;
}

.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.fb {
  font-weight: bold;
}
.ma0 {
  margin: 0 auto;
}

/* @media screen and ( max-width:1366px){
  *{
    font-size: 12px;
  }
} */
