.container-box {
  width: 100%;
  height: 100%;
  // padding-top: 70px;
  // 頭部
  .header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    // max-height: 120px;
    height: 70px;
    // line-height: 70px;
    padding: 0 20px;
    box-sizing: border-box;
    z-index: 100;
    .h-content {
      position: relative;
      max-width: 1200px;
      margin: 0 auto;
      height: 70px;
      // line-height: 70px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      // padding: 1% 0;
      color: #fff;
      box-sizing: border-box;
      .h-left {
        display: flex;
        font-size: 24px;
        @media screen and(max-width:480px) {
          font-size: 20px;
        }
        img {
          width: 40px;
          height: 44px;
          object-fit: contain;
          margin: -10px 10px 0 0;
        }
        @media screen and(max-width:780px) {
          font-size: 18px;
          max-width: 300px;
          img {
            margin: 0 5px 0 0;
            width: 20px;
            height: 24px;
          }
          // span {
          // word-break: break-all;
          // }
        }
      }
      .h-right {
        display: flex;
        list-style: none;
        align-items: center;
        justify-content: center;
        margin-bottom: 0;
        .h-r-con {
          cursor: pointer;
          margin-right: 50px;
        }
        .h-r-con:hover {
          color: #3685f1;
        }
        .h-r {
          display: none;
        }
        .h-r1 {
          display: block;
        }
        .h-r-active {
          color: #3685f1;
        }
        .h-r-con2 {
          color: #0072bb;
          background: #fff;
          border-radius: 25px;
          padding: 3px 0;
          width: 52px;
          text-align: center;
          cursor: pointer;
        }
        .h-r-con22 {
          background: #3685f1;
          color: #fff;
        }
        .h-r-con2:hover {
          background: #3685f1;
        }
      }
      .h-small-right {
        width: 50px;
        height: 50px;
        font-size: 30px;
        background: url('../images//small-bg.png') no-repeat center;
        background-color: #fff;
        cursor: pointer;
      }
      .small-menu {
        position: absolute;
        left: 0;
        top: 70px;
        width: 100%;
        background: rgba(18, 18, 18, 0.97);
        list-style: none;
        display: none;
        .h-r-con {
          cursor: pointer;
          color: #999;
          padding: 10px 14px;
          border-bottom: 1px solid rgba(255, 255, 255, 0.065);
        }
        .h-r-con:hover {
          color: #fff;
          background: #2a2a2a;
        }
        .h-r-con2 {
          display: block;
          background: #0072bb;
          color: #fff;
          border-radius: 25px;
          width: 52px;
          height: 26px;
          line-height: 26px;
          text-align: center;
          cursor: pointer;
          // margin: 5px 10px;
        }
      }
      .hr1 {
        display: none;
      }
      .hr2 {
        display: block;
      }
    }
    .h-content1 {
      background: rgba(255, 255, 255, 0.97);
      color: #000;
    }
  }
  .header1 {
    background: #fff;
    z-index: 999;
  }
  // 第一頁
  .first {
    width: 100%;
    height: 100%;
    background: url('../images/section-bg-22.jpg') no-repeat center/cover;
    padding: 0 20px;
    .h-content {
      height: 100%;
      max-width: 1200px;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .s-con {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: #fff;
        // min-height: 283px;
        .s-first {
          font-size: 28px;
          font-weight: 300;
          @media screen and(max-width:900px) {
            font-size: 20px;
          }
        }
        .ss-second {
          // min-height: 140px;
          .s-second {
            // min-height: 140px;
            font-size: 96px;
            font-weight: 800;
            text-align: center;
            @media screen and(max-width:1024px) {
              font-size: 71px;
            }
            @media screen and(max-width:767px) {
              font-size: 48px;
            }
            @media screen and(max-width:480px) {
              font-size: 42px;
            }
          }
          .s-show {
            display: block;
          }
          .s-hide {
            display: none;
          }
        }
        .last {
          margin-top: 5%;
          color: rgba(255, 255, 255, 0.85);
          text-transform: uppercase;
          font-weight: 300;
          background: rgba(0, 0, 0, 0.75);
          letter-spacing: 2px;
          padding: 15px 24px;
          font-size: 12px;
          .l-string {
            margin: 0 10px;
          }
        }
      }
    }
  }
  // 第二頁 第四頁
  .second {
    width: 100%;
    background-color: #f8f8f8;
    padding: 0 20px;
    .h-content {
      max-width: 1200px;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 140px 0 0;
      box-sizing: border-box;
      @media screen and(max-width:780px) {
        padding: 70px 20px 0;
      }
      .s-first {
        font-size: 35px;
        font-weight: 800;
        letter-spacing: 5px;
        margin: 0 auto 15px;
        max-width: 750px;
        text-align: center;
        @media screen and(max-width:780px) {
          font-size: 24px;
          letter-spacing: 2px;
        }
        .s-icon {
          color: #3685f1;
          font-weight: 400;
          font-family: Montserrat, arial, sans-serif;
        }
      }
      .s-second {
        max-width: 750px;
        margin: 0 auto;
        text-align: center;
        color: #555;
        font-size: 16px;
        font-weight: 300;
        transition: all 0.27s cubic-bezier(0, 0, 0.58, 1);
        @media screen and(max-width:480px) {
          font-size: 15px;
        }
        // font-family: 'Raleway', 'Times New Roman', Times, serif;
      }

      .s-third {
        width: 55px;
        height: 1px;
        background: #0dc3ff;
        margin: 30px auto 60px;
        @media screen and(max-width:780px) {
          margin: 30px auto;
        }
      }
      .s-fourth {
        border: 1px solid #000;
        border-radius: 20px;
        padding: 6px 20px 5px;
        margin-bottom: 60px;
        @media screen and(max-width:780px) {
          margin-bottom: 30px;
        }
      }
      .s-fourth1 {
        max-width: 750px;
        margin: 0 auto 60px;
        font-size: 17px;
        color: #888;
        font-weight: 300;
        text-align: center;
        @media screen and(max-width:780px) {
          margin: 0 auto;
          font-size: 15px;
        }
      }
      .s-fifth {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .co-single {
          position: relative;
          width: 300px;
          margin: 0 0 40px 20px;
          padding: 15px;
          @media screen and(max-width:780px) {
            width: 230px;
            padding: 0;
          }
          .co-number {
            position: absolute;
            top: 50px;
            left: 50px;
            font-size: 120px;
            font-weight: 700;
            color: rgba(0, 0, 0, 0.025);
            line-height: 1px;
            text-align: center;
            transition: all 0.27s cubic-bezier(0, 0, 0.58, 1);
            // font-family: Montserrat, arial, sans-serif;
          }
          .co-first {
            text-align: center;
            font-size: 32px;
            color: #0dc3ff;
            margin-bottom: 6px;
          }
          .co-second {
            font-size: 18px;
            font-weight: 700;
            margin: 0 0 17px 0;
            letter-spacing: 1px;
            text-align: center;
          }
          .co-third {
            text-align: center;
            font-size: 15px;
            color: #777;
            font-weight: 300;
          }
          .s-sixth {
            margin: 140px 0 0;
          }
        }
        .co-single:after {
          content: '';
          position: absolute;
          width: 100%;
          height: 100%;
          bottom: 0;
          left: 0;
          background: rgba(0, 0, 0, 0.015);
          opacity: 0;
          transition: all 0.27s cubic-bezier(0, 0, 0.58, 1);
          // transform: scale(0.5);
        }
        .co-single:hover::after {
          opacity: 1;
          @media screen and(max-width:780px) {
            opacity: 0;
          }
        }
        .co-single:hover .co-number {
          transform: scale(0.75);
        }
      }
      .s-fifth1 {
        width: 100%;
        .co-only {
          position: relative;
          padding: 30px 10px 20px 60px;
          margin-top: 10px;
          @media screen and(max-width:780px) {
            margin-top: 0;
          }
          .co-icon {
            position: absolute;
            top: 25px;
            left: 15px;
            color: #3685f1;
            font-size: 32px;
          }
          .co-first {
            font-size: 15px;
            font-weight: 700;
            color: #151515;
            margin: 3px 0 10px;
            @media screen and(max-width:1200px) {
              font-size: 14px;
            }
          }
          ul li {
            color: #555;
            font-size: 15px;
            line-height: 22px;
          }
          .contact {
            position: absolute;
            bottom: -10px;
            left: 50%;
            transform: translateX(-50%);
            background: rgba(0, 0, 0, 0.7);
            color: #ccc;
            height: 30px;
            line-height: 30px;
            padding: 0 14px;
            // width: 100px;
            // text-align: center;
            border-radius: 15px;
            display: none;
            font-size: 12px;
            cursor: pointer;
            z-index: 101;
          }
        }
        .co-only:after {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: rgba(0, 0, 0, 0.05);
          transition: all 0.27s cubic-bezier(0, 0, 0.58, 1);
          opacity: 0;
        }
        .co-only:hover {
          transform: perspective(500px) rotateX(20deg) rotateY(0deg)
            rotateZ(0deg);
          .contact {
            display: block;
            @media screen and(max-width:750px) {
              display: none;
            }
          }
        }
        .co-only:hover:after {
          opacity: 1;
          transform: perspective(500px) rotateX(20deg) rotateY(0deg)
            rotateZ(0deg);
        }
        .co-img {
          img {
            max-width: 100%;
          }
        }
      }
      .s-sixth {
        margin-top: 80px;
        width: 100%;
        @media screen and(max-width:780px) {
          margin-top: 0;
        }
        img {
          width: 100%;
        }
      }
    }
    .h-content1 {
      padding: 140px 20px;
      @media screen and(max-width:780px) {
        padding: 70px 20px 20px;
      }
    }
  }
  // 第三頁
  .third {
    width: 100%;
    padding: 140px 20px;
    background: #000;
    @media screen and(max-width:780px) {
      padding: 50px 20px;
    }
    .t-content {
      max-width: 1200px;
      margin: 0 auto;
      @media screen and(max-width:780px) {
        .tt {
          margin-bottom: 40px;
        }
      }
      .t-top {
        font-size: 48px;
        color: #fff;
        font-weight: 700;
        letter-spacing: 2px;
        text-align: center;
        @media screen and(max-width:480px) {
          font-size: 32px;
        }
      }
      .t-bottom {
        font-size: 13px;
        color: #fff;
        font-weight: 200;
        text-align: center;
      }
    }
  }
  // 第五頁
  .fifth {
    width: 100%;
    background: url('../images//section-bg-5.jpg') no-repeat center;
    padding: 140px 20px 40px;
    @media screen and(max-width:768px) {
      padding: 70px 20px 10px;
    }
    .f-content {
      max-width: 1200px;
      margin: 0 auto;
      // display: flex;
      .swiper-container {
        padding: 0 0 120px;
        @media screen and(max-width:768px) {
          padding: 0 0 60px;
        }
        .swiper-slide {
          // display: flex;
          .con-item {
            // width: 380px;
            // @media screen and(max-width:992px) {
            //   width: ;
            // }
            .item-icon {
              font-size: 96px;
              text-align: center;
              color: rgba(255, 255, 255, 0.9);
            }
            .title {
              font-size: 24px;
              margin-bottom: 6px;
              color: rgba(255, 255, 255, 0.9);
              text-align: center;
            }
            .desc {
              font-style: italic;
              text-align: center;
              color: rgba(255, 255, 255, 0.9);
              font-weight: 300;
            }
            @media screen and(max-width:992px) {
              .item-icon {
                font-size: 64px;
              }
              .title {
                font-size: 20px;
              }
              .desc {
                font-size: 14px;
              }
            }
          }
        }
        .swiper-pagination .swiper-pagination-bullet {
          width: 20px;
          height: 4px;
          background: #fff;
          left: 50%;
          border-radius: 0;
        }
      }
    }
    .f-content1 {
      display: none;
    }
    .f-content2 {
      display: block;
    }
  }
  // 底部
  .footer {
    // position: relative;
    width: 100%;
    padding: 200px 20px;
    // background: url('../images/section-bg-8.jpg') no-repeat center center;
    // background-attachment: scroll;
    background-color: #f8f8f8;
    @media screen and(max-width:780px) {
      padding: 50px 20px;
    }
    .footer-content {
      max-width: 1200px;
      margin: 0 auto;
      .content {
        max-width: 400px;
        margin: 0 auto;
        z-index: 100;
        .phone {
          display: flex;
          align-items: center;
          letter-spacing: 1px;
          margin-bottom: 20px;
          font-weight: 400;
          font-size: 24px;
          @media screen and(max-width:780px) {
            font-size: 18px;
          }
          .phone-img,
          .add-img,
          .email-img {
            display: inline-block;
            width: 40px;
            height: 40px;
            margin: 5px 5px 0 0;
            background: url('../images/phone.png') no-repeat center/cover;
          }
          .add-img {
            background: url('../images/add.png') no-repeat center/cover;
          }
          .email-img {
            background: url('../images/email.png') no-repeat center/cover;
          }
          .link {
            cursor: pointer;
            color: #333;
            text-decoration: none;
          }
        }
      }
    }
  }
  .back {
    width: 100%;
    background: #252525;
    padding: 0 20px;
    .back-content {
      max-width: 1200px;
      margin: 0 auto;
      color: #474747;
      height: 60px;
      line-height: 60px;
      text-align: center;
      font-size: 18px;
      .top-con {
        padding: 0 20px;
        display: inline-block;
        border-left: 1px solid #202020;
        border-right: 1px solid #202020;
        cursor: pointer;
      }
      .top-con:hover {
        color: #777;
        background: #2a2a2a;
      }
    }
  }
  .bottom {
    width: 100%;
    background: #222;
    padding: 70px 20px;
    .bot-con {
      max-width: 1200px;
      margin: 0 auto;
      .t-con {
        text-align: center;
        color: #aaa;
        margin-bottom: 10px;
      }
      .b-con {
        text-align: center;
        // font-size: 12px;
        font-weight: 700;
        color: #707070;
        .serif {
          font-weight: 400;
          color: #aaa;
          font-size: 16px;
          font-family: 'Libre Baskerville', 'Times New Roman', Times, serif;
          font-style: italic;
        }
      }
    }
  }
}
