.container-box {
  width: 100%;
  height: 100%;
}
.container-box .header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  height: 70px;
  padding: 0 20px;
  box-sizing: border-box;
  z-index: 100;
}
.container-box .header .h-content {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  box-sizing: border-box;
}
.container-box .header .h-content .h-left {
  display: flex;
  font-size: 24px;
}
@media screen and (max-width: 480px) {
  .container-box .header .h-content .h-left {
    font-size: 20px;
  }
}
.container-box .header .h-content .h-left img {
  width: 40px;
  height: 44px;
  object-fit: contain;
  margin: -10px 10px 0 0;
}
@media screen and (max-width: 780px) {
  .container-box .header .h-content .h-left {
    font-size: 18px;
    max-width: 300px;
  }
  .container-box .header .h-content .h-left img {
    margin: 0 5px 0 0;
    width: 20px;
    height: 24px;
  }
}
.container-box .header .h-content .h-right {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: center;
  margin-bottom: 0;
}
.container-box .header .h-content .h-right .h-r-con {
  cursor: pointer;
  margin-right: 50px;
}
.container-box .header .h-content .h-right .h-r-con:hover {
  color: #3685f1;
}
.container-box .header .h-content .h-right .h-r {
  display: none;
}
.container-box .header .h-content .h-right .h-r1 {
  display: block;
}
.container-box .header .h-content .h-right .h-r-active {
  color: #3685f1;
}
.container-box .header .h-content .h-right .h-r-con2 {
  color: #0072bb;
  background: #fff;
  border-radius: 25px;
  padding: 3px 0;
  width: 52px;
  text-align: center;
  cursor: pointer;
}
.container-box .header .h-content .h-right .h-r-con22 {
  background: #3685f1;
  color: #fff;
}
.container-box .header .h-content .h-right .h-r-con2:hover {
  background: #3685f1;
}
.container-box .header .h-content .h-small-right {
  width: 50px;
  height: 50px;
  font-size: 30px;
  background: url('../images//small-bg.png') no-repeat center;
  background-color: #fff;
  cursor: pointer;
}
.container-box .header .h-content .small-menu {
  position: absolute;
  left: 0;
  top: 70px;
  width: 100%;
  background: rgba(18, 18, 18, 0.97);
  list-style: none;
  display: none;
}
.container-box .header .h-content .small-menu .h-r-con {
  cursor: pointer;
  color: #999;
  padding: 10px 14px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.065);
}
.container-box .header .h-content .small-menu .h-r-con:hover {
  color: #fff;
  background: #2a2a2a;
}
.container-box .header .h-content .small-menu .h-r-con2 {
  display: block;
  background: #0072bb;
  color: #fff;
  border-radius: 25px;
  width: 52px;
  height: 26px;
  line-height: 26px;
  text-align: center;
  cursor: pointer;
}
.container-box .header .h-content .hr1 {
  display: none;
}
.container-box .header .h-content .hr2 {
  display: block;
}
.container-box .header .h-content1 {
  background: rgba(255, 255, 255, 0.97);
  color: #000;
}
.container-box .header1 {
  background: #fff;
  z-index: 999;
}
.container-box .first {
  width: 100%;
  height: 100%;
  background: url('../images/section-bg-22.jpg') no-repeat center / cover;
  padding: 0 20px;
}
.container-box .first .h-content {
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container-box .first .h-content .s-con {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
}
.container-box .first .h-content .s-con .s-first {
  font-size: 28px;
  font-weight: 300;
}
@media screen and (max-width: 900px) {
  .container-box .first .h-content .s-con .s-first {
    font-size: 20px;
  }
}
.container-box .first .h-content .s-con .ss-second .s-second {
  font-size: 96px;
  font-weight: 800;
  text-align: center;
}
@media screen and (max-width: 1024px) {
  .container-box .first .h-content .s-con .ss-second .s-second {
    font-size: 71px;
  }
}
@media screen and (max-width: 767px) {
  .container-box .first .h-content .s-con .ss-second .s-second {
    font-size: 48px;
  }
}
@media screen and (max-width: 480px) {
  .container-box .first .h-content .s-con .ss-second .s-second {
    font-size: 42px;
  }
}
.container-box .first .h-content .s-con .ss-second .s-show {
  display: block;
}
.container-box .first .h-content .s-con .ss-second .s-hide {
  display: none;
}
.container-box .first .h-content .s-con .last {
  margin-top: 5%;
  color: rgba(255, 255, 255, 0.85);
  text-transform: uppercase;
  font-weight: 300;
  background: rgba(0, 0, 0, 0.75);
  letter-spacing: 2px;
  padding: 15px 24px;
  font-size: 12px;
}
.container-box .first .h-content .s-con .last .l-string {
  margin: 0 10px;
}
.container-box .second {
  width: 100%;
  background-color: #f8f8f8;
  padding: 0 20px;
}
.container-box .second .h-content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 140px 0 0;
  box-sizing: border-box;
}
@media screen and (max-width: 780px) {
  .container-box .second .h-content {
    padding: 70px 20px 0;
  }
}
.container-box .second .h-content .s-first {
  font-size: 35px;
  font-weight: 800;
  letter-spacing: 5px;
  margin: 0 auto 15px;
  max-width: 750px;
  text-align: center;
}
@media screen and (max-width: 780px) {
  .container-box .second .h-content .s-first {
    font-size: 24px;
    letter-spacing: 2px;
  }
}
.container-box .second .h-content .s-first .s-icon {
  color: #3685f1;
  font-weight: 400;
  font-family: Montserrat, arial, sans-serif;
}
.container-box .second .h-content .s-second {
  max-width: 750px;
  margin: 0 auto;
  text-align: center;
  color: #555;
  font-size: 16px;
  font-weight: 300;
  transition: all 0.27s cubic-bezier(0, 0, 0.58, 1);
}
@media screen and (max-width: 480px) {
  .container-box .second .h-content .s-second {
    font-size: 15px;
  }
}
.container-box .second .h-content .s-third {
  width: 55px;
  height: 1px;
  background: #0dc3ff;
  margin: 30px auto 60px;
}
@media screen and (max-width: 780px) {
  .container-box .second .h-content .s-third {
    margin: 30px auto;
  }
}
.container-box .second .h-content .s-fourth {
  border: 1px solid #000;
  border-radius: 20px;
  padding: 6px 20px 5px;
  margin-bottom: 60px;
}
@media screen and (max-width: 780px) {
  .container-box .second .h-content .s-fourth {
    margin-bottom: 30px;
  }
}
.container-box .second .h-content .s-fourth1 {
  max-width: 750px;
  margin: 0 auto 60px;
  font-size: 17px;
  color: #888;
  font-weight: 300;
  text-align: center;
}
@media screen and (max-width: 780px) {
  .container-box .second .h-content .s-fourth1 {
    margin: 0 auto;
    font-size: 15px;
  }
}
.container-box .second .h-content .s-fifth {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.container-box .second .h-content .s-fifth .co-single {
  position: relative;
  width: 300px;
  margin: 0 0 40px 20px;
  padding: 15px;
}
@media screen and (max-width: 780px) {
  .container-box .second .h-content .s-fifth .co-single {
    width: 230px;
    padding: 0;
  }
}
.container-box .second .h-content .s-fifth .co-single .co-number {
  position: absolute;
  top: 50px;
  left: 50px;
  font-size: 120px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.025);
  line-height: 1px;
  text-align: center;
  transition: all 0.27s cubic-bezier(0, 0, 0.58, 1);
}
.container-box .second .h-content .s-fifth .co-single .co-first {
  text-align: center;
  font-size: 32px;
  color: #0dc3ff;
  margin-bottom: 6px;
}
.container-box .second .h-content .s-fifth .co-single .co-second {
  font-size: 18px;
  font-weight: 700;
  margin: 0 0 17px 0;
  letter-spacing: 1px;
  text-align: center;
}
.container-box .second .h-content .s-fifth .co-single .co-third {
  text-align: center;
  font-size: 15px;
  color: #777;
  font-weight: 300;
}
.container-box .second .h-content .s-fifth .co-single .s-sixth {
  margin: 140px 0 0;
}
.container-box .second .h-content .s-fifth .co-single:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.015);
  opacity: 0;
  transition: all 0.27s cubic-bezier(0, 0, 0.58, 1);
}
.container-box .second .h-content .s-fifth .co-single:hover::after {
  opacity: 1;
}
@media screen and (max-width: 780px) {
  .container-box .second .h-content .s-fifth .co-single:hover::after {
    opacity: 0;
  }
}
.container-box .second .h-content .s-fifth .co-single:hover .co-number {
  transform: scale(0.75);
}
.container-box .second .h-content .s-fifth1 {
  width: 100%;
}
.container-box .second .h-content .s-fifth1 .co-only {
  position: relative;
  padding: 30px 10px 20px 60px;
  margin-top: 10px;
}
@media screen and (max-width: 780px) {
  .container-box .second .h-content .s-fifth1 .co-only {
    margin-top: 0;
  }
}
.container-box .second .h-content .s-fifth1 .co-only .co-icon {
  position: absolute;
  top: 25px;
  left: 15px;
  color: #3685f1;
  font-size: 32px;
}
.container-box .second .h-content .s-fifth1 .co-only .co-first {
  font-size: 15px;
  font-weight: 700;
  color: #151515;
  margin: 3px 0 10px;
}
@media screen and (max-width: 1200px) {
  .container-box .second .h-content .s-fifth1 .co-only .co-first {
    font-size: 14px;
  }
}
.container-box .second .h-content .s-fifth1 .co-only ul li {
  color: #555;
  font-size: 15px;
  line-height: 22px;
}
.container-box .second .h-content .s-fifth1 .co-only .contact {
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(0, 0, 0, 0.7);
  color: #ccc;
  height: 30px;
  line-height: 30px;
  padding: 0 14px;
  border-radius: 15px;
  display: none;
  font-size: 12px;
  cursor: pointer;
  z-index: 101;
}
.container-box .second .h-content .s-fifth1 .co-only:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.05);
  transition: all 0.27s cubic-bezier(0, 0, 0.58, 1);
  opacity: 0;
}
.container-box .second .h-content .s-fifth1 .co-only:hover {
  transform: perspective(500px) rotateX(20deg) rotateY(0deg) rotateZ(0deg);
}
.container-box .second .h-content .s-fifth1 .co-only:hover .contact {
  display: block;
}
@media screen and (max-width: 750px) {
  .container-box .second .h-content .s-fifth1 .co-only:hover .contact {
    display: none;
  }
}
.container-box .second .h-content .s-fifth1 .co-only:hover:after {
  opacity: 1;
  transform: perspective(500px) rotateX(20deg) rotateY(0deg) rotateZ(0deg);
}
.container-box .second .h-content .s-fifth1 .co-img img {
  max-width: 100%;
}
.container-box .second .h-content .s-sixth {
  margin-top: 80px;
  width: 100%;
}
@media screen and (max-width: 780px) {
  .container-box .second .h-content .s-sixth {
    margin-top: 0;
  }
}
.container-box .second .h-content .s-sixth img {
  width: 100%;
}
.container-box .second .h-content1 {
  padding: 140px 20px;
}
@media screen and (max-width: 780px) {
  .container-box .second .h-content1 {
    padding: 70px 20px 20px;
  }
}
.container-box .third {
  width: 100%;
  padding: 140px 20px;
  background: #000;
}
@media screen and (max-width: 780px) {
  .container-box .third {
    padding: 50px 20px;
  }
}
.container-box .third .t-content {
  max-width: 1200px;
  margin: 0 auto;
}
@media screen and (max-width: 780px) {
  .container-box .third .t-content .tt {
    margin-bottom: 40px;
  }
}
.container-box .third .t-content .t-top {
  font-size: 48px;
  color: #fff;
  font-weight: 700;
  letter-spacing: 2px;
  text-align: center;
}
@media screen and (max-width: 480px) {
  .container-box .third .t-content .t-top {
    font-size: 32px;
  }
}
.container-box .third .t-content .t-bottom {
  font-size: 13px;
  color: #fff;
  font-weight: 200;
  text-align: center;
}
.container-box .fifth {
  width: 100%;
  background: url('../images//section-bg-5.jpg') no-repeat center;
  padding: 140px 20px 40px;
}
@media screen and (max-width: 768px) {
  .container-box .fifth {
    padding: 70px 20px 10px;
  }
}
.container-box .fifth .f-content {
  max-width: 1200px;
  margin: 0 auto;
}
.container-box .fifth .f-content .swiper-container {
  padding: 0 0 120px;
}
@media screen and (max-width: 768px) {
  .container-box .fifth .f-content .swiper-container {
    padding: 0 0 60px;
  }
}
.container-box .fifth .f-content .swiper-container .swiper-slide .con-item .item-icon {
  font-size: 96px;
  text-align: center;
  color: rgba(255, 255, 255, 0.9);
}
.container-box .fifth .f-content .swiper-container .swiper-slide .con-item .title {
  font-size: 24px;
  margin-bottom: 6px;
  color: rgba(255, 255, 255, 0.9);
  text-align: center;
}
.container-box .fifth .f-content .swiper-container .swiper-slide .con-item .desc {
  font-style: italic;
  text-align: center;
  color: rgba(255, 255, 255, 0.9);
  font-weight: 300;
}
@media screen and (max-width: 992px) {
  .container-box .fifth .f-content .swiper-container .swiper-slide .con-item .item-icon {
    font-size: 64px;
  }
  .container-box .fifth .f-content .swiper-container .swiper-slide .con-item .title {
    font-size: 20px;
  }
  .container-box .fifth .f-content .swiper-container .swiper-slide .con-item .desc {
    font-size: 14px;
  }
}
.container-box .fifth .f-content .swiper-container .swiper-pagination .swiper-pagination-bullet {
  width: 20px;
  height: 4px;
  background: #fff;
  left: 50%;
  border-radius: 0;
}
.container-box .fifth .f-content1 {
  display: none;
}
.container-box .fifth .f-content2 {
  display: block;
}
.container-box .footer {
  width: 100%;
  padding: 200px 20px;
  background-color: #f8f8f8;
}
@media screen and (max-width: 780px) {
  .container-box .footer {
    padding: 50px 20px;
  }
}
.container-box .footer .footer-content {
  max-width: 1200px;
  margin: 0 auto;
}
.container-box .footer .footer-content .content {
  max-width: 400px;
  margin: 0 auto;
  z-index: 100;
}
.container-box .footer .footer-content .content .phone {
  display: flex;
  align-items: center;
  letter-spacing: 1px;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 24px;
}
@media screen and (max-width: 780px) {
  .container-box .footer .footer-content .content .phone {
    font-size: 18px;
  }
}
.container-box .footer .footer-content .content .phone .phone-img,
.container-box .footer .footer-content .content .phone .add-img,
.container-box .footer .footer-content .content .phone .email-img {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: 5px 5px 0 0;
  background: url('../images/phone.png') no-repeat center / cover;
}
.container-box .footer .footer-content .content .phone .add-img {
  background: url('../images/add.png') no-repeat center / cover;
}
.container-box .footer .footer-content .content .phone .email-img {
  background: url('../images/email.png') no-repeat center / cover;
}
.container-box .footer .footer-content .content .phone .link {
  cursor: pointer;
  color: #333;
  text-decoration: none;
}
.container-box .back {
  width: 100%;
  background: #252525;
  padding: 0 20px;
}
.container-box .back .back-content {
  max-width: 1200px;
  margin: 0 auto;
  color: #474747;
  height: 60px;
  line-height: 60px;
  text-align: center;
  font-size: 18px;
}
.container-box .back .back-content .top-con {
  padding: 0 20px;
  display: inline-block;
  border-left: 1px solid #202020;
  border-right: 1px solid #202020;
  cursor: pointer;
}
.container-box .back .back-content .top-con:hover {
  color: #777;
  background: #2a2a2a;
}
.container-box .bottom {
  width: 100%;
  background: #222;
  padding: 70px 20px;
}
.container-box .bottom .bot-con {
  max-width: 1200px;
  margin: 0 auto;
}
.container-box .bottom .bot-con .t-con {
  text-align: center;
  color: #aaa;
  margin-bottom: 10px;
}
.container-box .bottom .bot-con .b-con {
  text-align: center;
  font-weight: 700;
  color: #707070;
}
.container-box .bottom .bot-con .b-con .serif {
  font-weight: 400;
  color: #aaa;
  font-size: 16px;
  font-family: 'Libre Baskerville', 'Times New Roman', Times, serif;
  font-style: italic;
}
